

img{
 width: 450px;
 height: 300px;

}

img {
      
 position: relative;
    -webkit-animation-name: foto; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
    animation-name: foto;
    animation-duration: 4s;
    animation-direction: reverse;  
  animation-iteration-count: infinite;
}


@keyframes foto {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:500px; top:0px;}
    50%  {background-color:blue; left:300px; top:200px;}
    75%  {background-color:green; left:50px; top:400px;}
    100% {background-color:red; left:0px; top:0px;}
 
}


body{

 font-family: fantasy;
 font-size: 15px;
 
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
 animation-iteration-count: infinite;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}